Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, build_frontend_production, build_keycloak, test_api, deploy_api, deploy_frontend, pages

build_api_development:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:api-dev ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-dev
  tags:
  - NSCICDDOCKER

build_api_production:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:api-latest ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-latest
  tags:
  - NSCICDDOCKER

build_frontend_development:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:frontend-dev ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-dev
  tags:
  - NSCICDDOCKER

build_frontend_production:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:frontend-latest ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-latest
  tags:
  - NSCICDDOCKER

build_keycloak:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}/keycloak" --dockerfile "${CI_PROJECT_DIR}/keycloak/Dockerfile" --destination "${CI_REGISTRY_IMAGE}:keycloak-${CI_COMMIT_REF_NAME}"
  tags:
  - NSCICDK8S

test_api:
  stage: test
  script:
  - ./scripts/test-ci.sh
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: ./api/coverage.xml
  tags:
  - NSCICDSHELL

deploy_api:
  stage: deploy
  image:
    name: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

deploy_frontend:
  stage: deploy
  image: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

pages:
  stage: pages
  image:
    name: squidfunk/mkdocs-material:8.1.10
    entrypoint:
    - ''
  script:
  - cd docs
  - mkdocs build --site-dir ../public
  artifacts:
    paths:
    - public
  tags:
  - NSCICDDOCKER

fix: restore update of grouped observations
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: loader in import dropzone
  frontend/src/components/deployments/imageList.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: add tooltip to resfresh filter button
  frontend/src/components/deployments/Filters.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: change date format
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
  frontend/src/components/common/DateRangePicker.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: apply black et isort
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

missing changes
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: black & isort
  api/alembic/versions/346ede4279cd_convert_timestamp_to_timestamptz_for_.py
  api/tests/test_routers/test_files.py
Due: build_api_development, build_api_production, test_api, deploy_api

chore: black in alembic files
  api/alembic/versions/346ede4279cd_convert_timestamp_to_timestamptz_for_.py
Due: build_api_development, build_api_production, test_api, deploy_api

test: fix update_annotation test
  api/tests/test_routers/test_files.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: restore the correct message in device history
  frontend/src/components/deviceSheet/deviceSheetMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: nomenclapi deploy in prod
  .gitlab-ci.yml
Due: build_api_production, build_frontend_production, deploy_api, deploy_frontend, pages

chore: apply black
  api/src/schemas/file.py
  api/tests/test_routers/test_files.py
Due: build_api_development, build_api_production, test_api, deploy_api

Minor fixes
  .gitlab-ci.yml
  api/src/schemas/file.py
  api/tests/test_routers/test_files.py
  frontend/src/components/deviceSheet/deviceSheetMain.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend, pages

fix: refresh access token
  frontend/src/contexts/AuthContextProvider.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

test: update update_annotations test
  api/tests/test_routers/test_files.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: update file treated status only when annotation is modified, not metadata
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

chore: remove not needed if
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: remove update of confirmedSave variable on save
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

tests: revert test
  api/tests/test_routers/test_files.py
Due: build_api_development, build_api_production, test_api, deploy_api

Fix: annotation save (#96)
  api/src/services/files.py
  frontend/src/contexts/annotationContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

fix: not reset the current observation input when saving the date
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: set media as treated only when annotation saved
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: update date info but not observation when date saved
  frontend/src/components/annotation/AnnotationForm.tsx
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: fix save in unique view
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: reset confirmedSave to true after switch view
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

format
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: not reset the current observation input when saving the date (#97)
  api/src/services/files.py
  frontend/src/components/annotation/AnnotationForm.tsx
  frontend/src/contexts/annotationContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

fix: reset confirmedSave to true after switch view (#98)
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: modifiy gitlab-ci
  .gitlab-ci.yml
Due: build_api_production, build_frontend_production, deploy_api, deploy_frontend, pages

chore: modifiy gitlab-ci (#99)
  .gitlab-ci.yml
Due: build_api_production, build_frontend_production, deploy_api, deploy_frontend, pages

tmeporary fix on authentification
  frontend/src/contexts/AuthContextProvider.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

try to fix 502 bad gateway
  frontend/src/App.tsx
  frontend/src/contexts/AuthContextProvider.tsx
  frontend/src/index.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: change status when media manual processing in progress
  frontend/src/components/annotation/ObservationTab.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: annotation save behavior
  frontend/src/components/annotation/AnnotationGroupModale.tsx
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: display when media annotated empty in grid view
  frontend/src/components/annotation/AnnotationGalleryDisplay.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: copy image annotation to avoid in-place modification
  frontend/src/components/annotation/GridSwitcher.tsx
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix(auth): refresh access token during navigation
  frontend/src/App.tsx
  frontend/src/components/RouteWrapper.tsx
  frontend/src/hooks/useRefreshToken.ts
Due: build_frontend_development, build_frontend_production, deploy_frontend

lint(RouteWrapper): remove extra blank line
  frontend/src/components/RouteWrapper.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix(annotation): ensure observations state updates correctly when toggling checkbox
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*, .gitlab-ci.yml
  build_frontend_development: any of: frontend/**/*
  build_frontend_production: any of: frontend/**/*, .gitlab-ci.yml
  build_keycloak: any of: keycloak/**/*
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
  pages: any of: docs/**/*, .gitlab-ci.yml
