Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, build_frontend_production, build_db_production, test_api, deploy_api, deploy_frontend, pages

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*, .gitlab-ci.yml
  build_frontend_development: any of: frontend/**/*
  build_frontend_production: any of: frontend/**/*, .gitlab-ci.yml
  build_db_production: any of: db/**/*, .gitlab-ci.yml
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
  pages: any of: docs/**/*, .gitlab-ci.yml

fix: annotation buttons display on small sreen (#51)
  README.md
  frontend/src/components/annotation/AnnotationImage.tsx
  frontend/src/components/annotation/AnnotationImageDisplay.tsx
  frontend/src/components/annotation/AnnotationMain.tsx
  frontend/src/components/navigationPath.tsx
  frontend/src/components/siteMenu/siteTable.tsx
  frontend/src/index.tsx
  frontend/src/layouts/mainLayout.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: bdd initialization set-up if demo instance
  api/src/main.py
  docker/.env.sample
Due: build_api_development, build_api_production, test_api, deploy_api

fix: database initialization modification
  api/src/connectors/database.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: use current datetime as media creation date
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

style: apply isort and black
  api/src/connectors/database.py
  api/src/main.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: add taxapi in docker compose prod
  docker/docker-compose.prod.yml
Due: none

fix: add taxapi in docker compose prod (#53)
  docker/docker-compose.prod.yml
Due: none

fix(build): change minio command for health
  docker/docker-compose.yml
Due: none

docs: add keycloak documentation
  docs/docs/assets/config_keycloak_features.png
  docs/docs/assets/login_page.png
  docs/docs/assets/reset_password.png
  docs/docs/assets/roles_admin.png
  docs/docs/assets/user_account.png
  docs/docs/assets/user_creation.png
  docs/docs/assets/users.png
  docs/docs/technical_guide/keycloak.md
  docs/docs/user/admin.md
  docs/docs/user/user.md
  docs/mkdocs.yml
Due: pages

fix: correct some typo and other minor changes
  docs/docs/technical_guide/keycloak.md
  docs/docs/user/admin.md
  docs/docs/user/user.md
Due: pages

fix: use of a boolean variable from env
  api/src/main.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix(build): set the image used for minio
  docker/.env.sample
  docker/docker-compose.yml
Due: none

build: changed minio image variable
  docker/.env.sample
  docker/docker-compose.yml
Due: none

fix(build): change minio command for health (#54)
  docker/.env.sample
  docker/docker-compose.yml
Due: none

fix: delete some useless fields
  api/src/connectors/database.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: delete useless fields
  api/src/connectors/database.py
Due: build_api_development, build_api_production, test_api, deploy_api

Feat/setting up demo instance (#52)
  api/src/connectors/database.py
  api/src/main.py
  api/src/services/files.py
  docker/.env.sample
Due: build_api_development, build_api_production, test_api, deploy_api

Merge to dev
  api/src/connectors/database.py
  api/src/main.py
  api/src/services/files.py
  docker/.env.sample
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docs/docs/assets/config_keycloak_features.png
  docs/docs/assets/login_page.png
  docs/docs/assets/reset_password.png
  docs/docs/assets/roles_admin.png
  docs/docs/assets/user_account.png
  docs/docs/assets/user_creation.png
  docs/docs/assets/users.png
  docs/docs/technical_guide/keycloak.md
  docs/docs/user/admin.md
  docs/docs/user/user.md
  docs/mkdocs.yml
  scripts/docker.sh
Due: build_api_development, build_api_production, test_api, deploy_api, pages

build: typo error default values
  docker/docker-compose.yml
Due: none

Image keycloak
  .gitlab-ci.yml
  docker/.env.sample
  docker/docker-compose.override.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  keycloak/Dockerfile
Due: build_api_production, build_frontend_production, build_db_production, deploy_api, deploy_frontend, pages

Image keycloak
  docker/docker-compose.yml
Due: none

Update README.md
  README.md
Due: none

Update installation documentation (#56)
  README.md
Due: none

Fix/merge hotfix from prod (#57)
  .gitlab-ci.yml
  api/Pipfile.lock
  api/src/main.py
  docker/.env.sample
  docker/docker-compose.override.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  frontend/Dockerfile
  frontend/public/assets/geocam-logo-dark.png
  frontend/public/assets/geocam-logo-icon.png
  frontend/public/assets/geocam-logo-light.png
  frontend/src/components/deviceMenu/deviceModal.tsx
  frontend/src/components/importForm.tsx
  keycloak/Dockerfile
  scripts/docker.sh
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, build_db_production, test_api, deploy_api, deploy_frontend, pages

style: renaming to ecosecrets
  README.md
  docker/.env.sample
  docs/docs/index.md
  docs/docs/technical_guide/keycloak.md
  docs/docs/user/home.md
  docs/mkdocs.yml
  frontend/public/assets/ecosecrets-logo-icon.svg
  frontend/public/assets/ecosecrets_logo_full_light.svg
  frontend/public/assets/geocam-logo-dark.png
  frontend/public/assets/geocam-logo-icon.png
  frontend/public/assets/geocam-logo-light.png
  frontend/public/assets/geocam-logo.svg
  frontend/public/index.html
  frontend/src/components/HeadBar.tsx
  keycloak/theme/customtheme/login/resources/css/styles.css
  keycloak/theme/customtheme/login/template.ftl
Due: build_frontend_development, build_frontend_production, deploy_frontend, pages

style: change logo on connection page
  keycloak/theme/customtheme/login/resources/img/logo.png
Due: none

style: change name in github url
  README.md
Due: none

style: rename to ecosecrets (#59)
  README.md
  docker/.env.sample
  docs/docs/index.md
  docs/docs/technical_guide/keycloak.md
  docs/docs/user/home.md
  docs/mkdocs.yml
  frontend/public/assets/ecosecrets-logo-icon.svg
  frontend/public/assets/ecosecrets_logo_full_light.svg
  frontend/public/assets/geocam-logo-dark.png
  frontend/public/assets/geocam-logo-icon.png
  frontend/public/assets/geocam-logo-light.png
  frontend/public/assets/geocam-logo.svg
  frontend/public/index.html
  frontend/src/components/HeadBar.tsx
  keycloak/theme/customtheme/login/resources/css/styles.css
  keycloak/theme/customtheme/login/resources/img/logo.png
  keycloak/theme/customtheme/login/template.ftl
Due: build_frontend_development, build_frontend_production, deploy_frontend, pages

feat: store deepfaune result in db
  api/alembic/env.py
  api/alembic/versions/3bea67bfb786_add_prediction_deepfaune_to_files.py
  api/src/main.py
  api/src/models/file.py
  api/src/models/models.py
  api/src/routers/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

feat: add icon when media processed by deepfaune in gallery
  frontend/src/components/GalleryItem.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: add prediction info in image page
  frontend/src/components/annotation/ObservationTab.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: use server url
  api/src/connectors/s3.py
  api/src/models/file.py
  api/src/routers/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

style: apply black and isort
  api/src/connectors/celery.py
  api/src/connectors/s3.py
  api/src/main.py
  api/src/routers/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: modify filename in minio
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

feat: add deepfaune on zip import
  api/src/routers/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

feat: return list of predictions
  deepfaune/src/worker/deepfaune.py
Due: none

feat: add deepfaune on zip import
  api/src/services/dependencies.py
  frontend/src/client/models/Body_upload_zip_files_upload_zip__deployment_id__post.ts
  frontend/src/client/models/Files.ts
  frontend/src/client/services/DefaultService.ts
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend
