Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, build_frontend_production, build_keycloak, test_api, deploy_api, deploy_frontend, pages

build_api_development:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:api-dev ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-dev
  tags:
  - NSCICDDOCKER

build_api_production:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:api-latest ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-latest
  tags:
  - NSCICDDOCKER

build_frontend_development:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:frontend-dev ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-dev
  tags:
  - NSCICDDOCKER

build_frontend_production:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:frontend-latest ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-latest
  tags:
  - NSCICDDOCKER

build_keycloak:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}/keycloak" --dockerfile "${CI_PROJECT_DIR}/keycloak/Dockerfile" --destination "${CI_REGISTRY_IMAGE}:keycloak-${CI_COMMIT_REF_NAME}"
  tags:
  - NSCICDK8S

test_api:
  stage: test
  script:
  - ./scripts/test-ci.sh
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: ./api/coverage.xml
  tags:
  - NSCICDSHELL

deploy_api:
  stage: deploy
  image:
    name: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

deploy_frontend:
  stage: deploy
  image: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

pages:
  stage: pages
  image:
    name: squidfunk/mkdocs-material:8.1.10
    entrypoint:
    - ''
  script:
  - cd docs
  - mkdocs build --site-dir ../public
  artifacts:
    paths:
    - public
  tags:
  - NSCICDDOCKER

chore: merge
  frontend/src/components/annotation/MetadataTab.tsx
  frontend/src/components/annotation/ObservationTab.tsx
  frontend/src/components/deviceSheet/deviceSheetMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: missing AnnotationData import & regenerate client
  api/src/services/files.py
  frontend/src/client/models/UpdateFile.ts
  frontend/src/client/services/FilesService.ts
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

style: switch column lat long
  frontend/src/components/siteMenu/siteTable.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: adjust gridSwitch display
  frontend/src/components/annotation/GridSwitcher.tsx
  frontend/src/components/deployments/Filters.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: clean up code
  frontend/src/components/annotation/AnnotationButtons.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: clean up code
  frontend/src/components/annotation/GridSwitcher.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: adjust gridSwitch display
  frontend/src/components/annotation/AnnotationMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: adjust delete media button when grid display
  frontend/src/components/annotation/ButtonDeleteMedia.tsx
  frontend/src/components/annotation/ObservationTab.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: clean up code
  api/src/routers/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

feat: metadata for file
  api/src/schemas/file.py
  api/src/services/files.py
  frontend/src/client/index.ts
  frontend/src/client/models/MetadataData.ts
  frontend/src/client/models/UpdateFile.ts
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
  frontend/src/components/annotation/MetadataTab.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

fix: add import for date locale
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: update due to merge
  frontend/src/components/annotation/AnnotationGroupModale.tsx
  frontend/src/components/annotation/GridSwitcher.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: metadata save
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: typo
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: update import after merge
  frontend/src/components/annotation/AnnotationGalleryDisplay.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: save date for one media
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: update import
  frontend/src/components/common/ButtonGoAnnotation.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: date edit in grid view
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
  frontend/src/components/annotation/MetadataTab.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: use date rather than props
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: remove code for update file save
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

feat: tooltip on gotomedia arrow in grid view
  frontend/src/components/common/ButtonGoAnnotation.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: grid switch only on annotation page, not on gallery
  frontend/src/components/deployments/Filters.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: add tooltips on date buttons
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: correct data type in update_annotations
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

chore: clean up code
  frontend/src/components/annotation/AnnotationForm.tsx
  frontend/src/components/annotation/AnnotationImageNavigation.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: readd code after merge
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: behaviour of date input
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: move the file check outside the if
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

style: fix size in unique view in annotation page
  frontend/src/components/annotation/AnnotationImage.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: project id in url
  frontend/src/components/common/ButtonGoAnnotation.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: change service to get files to update
  api/src/schemas/file.py
  api/src/services/files.py
  frontend/src/client/models/UpdateFile.ts
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
  frontend/src/contexts/annotationContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

chore: clean up code
  frontend/src/components/common/ButtonGoAnnotation.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: update group annotation, frontend part
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: resolve warnings
  frontend/src/components/annotation/AnnotationGroupModale.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: resolve warnings
  frontend/src/components/ThumbnailDeviceComponent.tsx
  frontend/src/components/ThumbnailProjectComponent.tsx
  frontend/src/components/ThumbnailSitesComponents.tsx
  frontend/src/components/common/confirmDialog.tsx
  frontend/src/components/deviceMenu/deviceModal.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: resoluve warnings
  frontend/src/components/ThumbnailDeploymentComponent.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: set site variable in same order in modale and table
  frontend/src/components/siteMenu/siteModale.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: set site variables in same order everywhere
  frontend/src/components/siteSheet/siteForm.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: manage timezone for date file in DB
  api/alembic/versions/346ede4279cd_convert_timestamp_to_timestamptz_for_.py
  api/src/models/file.py
  api/src/routers/files.py
  api/src/schemas/file.py
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: management of date values in filters on page routing
  frontend/src/components/common/DateRangePicker.tsx
  frontend/src/components/deployments/Filters.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*, .gitlab-ci.yml
  build_frontend_development: any of: frontend/**/*
  build_frontend_production: any of: frontend/**/*, .gitlab-ci.yml
  build_keycloak: any of: keycloak/**/*
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
  pages: any of: docs/**/*, .gitlab-ci.yml
