Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, build_frontend_production, build_keycloak, test_api, deploy_api, deploy_frontend, pages

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*, .gitlab-ci.yml
  build_frontend_development: any of: frontend/**/*
  build_frontend_production: any of: frontend/**/*, .gitlab-ci.yml
  build_keycloak: any of: keycloak/**/*
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
  pages: any of: docs/**/*, .gitlab-ci.yml

update
  frontend/src/App.css
  frontend/src/components/Thumbnail.tsx
  frontend/src/components/ThumbnailComponent.tsx
  frontend/src/components/ThumbnailProjectComponent.tsx
  frontend/src/components/annotation/AnnotationButtons.tsx
  frontend/src/components/projectSheet/projectForm.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
  frontend/src/css/annotation.css
  package-lock.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore : update syntax in DockerFile to match with recent docker version
  api/Dockerfile
Due: build_api_development, build_api_production, test_api, deploy_api

chore: change annotation and geonature_annotation in files
  api/src/config.py
  api/src/connectors/s3.py
  docker/.env.sample
  docker/docker-compose.yml
  docs/docs/technical_guide/keycloak.md
  docs/docs/user/admin.md
  docs/docs/user/user.md
  scripts/docker.sh
Due: build_api_development, build_api_production, test_api, deploy_api, pages

chore : update synthaxe in dockerfile api
  api/Dockerfile
Due: build_api_development, build_api_production, test_api, deploy_api

refact: add filesContext
  frontend/src/App.tsx
  frontend/src/components/annotation/AnnotationImage.tsx
  frontend/src/components/annotation/AnnotationImageDisplay.tsx
  frontend/src/components/annotation/AnnotationImageNavigation.tsx
  frontend/src/components/deployments/Filters.tsx
  frontend/src/components/deployments/TaxonomicInputs.tsx
  frontend/src/components/deployments/mediaGallery.tsx
  frontend/src/components/navigationPath.tsx
  frontend/src/contexts/annotationContext.tsx
  frontend/src/contexts/filesContext.tsx
  frontend/src/contexts/mainContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix
  frontend/src/contexts/mainContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: ordertaxonomic levels to display
  frontend/src/components/annotation/AnnotationGalleryDisplay.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix proxies in MinIo config
  api/src/connectors/s3.py
Due: build_api_development, build_api_production, test_api, deploy_api

delete: add route
  api/src/routers/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

feat: add file deletion
  api/src/routers/files.py
  api/src/services/files.py
  frontend/src/client/services/FilesService.ts
  frontend/src/components/annotation/ObservationTab.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

oopsi: add missing filing in previous commit
  frontend/src/components/common/confirmDialog.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

refact: useless import
  frontend/src/components/common/confirmDialog.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: black & isort
  api/src/routers/files.py
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

add tooltip and color
  frontend/src/components/annotation/ObservationTab.tsx
  frontend/src/components/common/confirmDialog.tsx
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

extend the limit
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

change some label & add tooltips
  frontend/src/components/deviceSheet/deviceSheetMain.tsx
  frontend/src/components/projectModale.tsx
  frontend/src/components/projectSheet/projectInformations.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: add reset button on filters
  frontend/src/components/common/DateRangePicker.tsx
  frontend/src/components/deployments/Filters.tsx
  frontend/src/components/deployments/TaxonomicInputs.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

Refact: add site_name and device_name to projectSheet data
  api/src/models/deployment.py
  api/src/models/device.py
  api/src/models/site.py
  api/src/services/project.py
  frontend/src/components/projectSheet/Filters.tsx
  frontend/src/components/projectSheet/projectDeployments.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

fix: modify biological state fr translation
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: black & isort
  api/src/models/deployment.py
  api/src/models/device.py
  api/src/models/site.py
  api/src/services/project.py
Due: build_api_development, build_api_production, test_api, deploy_api

Feat/add delete (#89)
  api/src/connectors/s3.py
  api/src/routers/files.py
  api/src/services/files.py
  frontend/src/client/services/FilesService.ts
  frontend/src/components/annotation/ObservationTab.tsx
  frontend/src/components/common/confirmDialog.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

Refact/create filesContext (#90)
  frontend/src/App.tsx
  frontend/src/components/annotation/AnnotationImage.tsx
  frontend/src/components/annotation/AnnotationImageDisplay.tsx
  frontend/src/components/annotation/AnnotationImageNavigation.tsx
  frontend/src/components/deployments/Filters.tsx
  frontend/src/components/deployments/TaxonomicInputs.tsx
  frontend/src/components/deployments/mediaGallery.tsx
  frontend/src/components/navigationPath.tsx
  frontend/src/contexts/annotationContext.tsx
  frontend/src/contexts/filesContext.tsx
  frontend/src/contexts/mainContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: modularize code
  frontend/src/components/annotation/AnnotationGalleryDisplay.tsx
  frontend/src/components/utils/annotation_utils.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: add modal to select observations to save for all group's media
  frontend/src/components/annotation/AnnotationGroupModale.tsx
  frontend/src/components/annotation/AnnotationMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: undefined in delete fct & date format in annotation save fct
  frontend/src/components/annotation/ObservationTab.tsx
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: add catch error in file delete fct
  frontend/src/components/annotation/ObservationTab.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: handle files list empty in annotation page
  frontend/src/components/common/DateRangePicker.tsx
  frontend/src/components/deployments/mediaGallery.tsx
  frontend/src/pages/annotation.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

Fix/minor bugs (#91)
  frontend/src/components/annotation/ObservationTab.tsx
  frontend/src/components/common/DateRangePicker.tsx
  frontend/src/components/deployments/mediaGallery.tsx
  frontend/src/contexts/annotationContext.tsx
  frontend/src/pages/annotation.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: thumbnail for videos in grid view
  frontend/src/components/annotation/AnnotationGalleryDisplay.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: add modal translation
  frontend/src/components/annotation/AnnotationGroupModale.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: database init script
  api/src/connectors/database.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: database init script (#92)
  api/src/connectors/database.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix
  frontend/src/contexts/filesContext.tsx
  frontend/src/pages/annotation.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix redirection annotation page
  frontend/src/contexts/filesContext.tsx
  frontend/src/pages/annotation.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: adapt save for grouped annotation
  api/src/routers/files.py
  api/src/schemas/file.py
  api/src/services/files.py
  frontend/src/client/index.ts
  frontend/src/client/models/AnnotationData.ts
  frontend/src/client/services/FilesService.ts
  frontend/src/components/annotation/ObservationTab.tsx
  frontend/src/contexts/annotationContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

feat: update gitlab ci and docker compose file for nomenclapi
  .gitlab-ci.yml
  docker/docker-compose.yml
Due: build_api_production, build_frontend_production, deploy_api, deploy_frontend, pages

chore: apply black and isort
  api/src/models/file.py
  api/src/routers/files.py
  api/src/schemas/file.py
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

chore: nomenclapi docker compose
  docker/.env.sample
  docker/docker-compose.yml
Due: none

Fix/nomenclapi deploy (#94)
  .gitlab-ci.yml
  docker/.env.sample
  docker/docker-compose.yml
Due: build_api_production, build_frontend_production, deploy_api, deploy_frontend, pages
