Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, build_frontend_production, build_keycloak, test_api, deploy_api, deploy_frontend, pages

build_api_development:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:api-dev ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-dev
  tags:
  - NSCICDDOCKER

build_api_production:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:api-latest ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-latest
  tags:
  - NSCICDDOCKER

build_frontend_development:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:frontend-dev ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-dev
  tags:
  - NSCICDDOCKER

build_frontend_production:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:frontend-latest ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-latest
  tags:
  - NSCICDDOCKER

build_keycloak:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}/keycloak" --dockerfile "${CI_PROJECT_DIR}/keycloak/Dockerfile" --destination "${CI_REGISTRY_IMAGE}:keycloak-${CI_COMMIT_REF_NAME}"
  tags:
  - NSCICDK8S

test_api:
  stage: test
  script:
  - ./scripts/test-ci.sh
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: ./api/coverage.xml
  tags:
  - NSCICDSHELL

deploy_api:
  stage: deploy
  image:
    name: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

deploy_frontend:
  stage: deploy
  image: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

pages:
  stage: pages
  image:
    name: squidfunk/mkdocs-material:8.1.10
    entrypoint:
    - ''
  script:
  - cd docs
  - mkdocs build --site-dir ../public
  artifacts:
    paths:
    - public
  tags:
  - NSCICDDOCKER

feat: homogeneize language selector with autoglot + optional translation
  frontend/src/public/locales/cs/common.json
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

Refact/lng list dynamically (#116)
  frontend/i18next-parser.config.js
  frontend/src/components/languageSelector.tsx
  frontend/src/i18n.ts
  frontend/src/public/locales/cs/common.json
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: upgrade mui versions
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/HeadBar.tsx
  frontend/src/components/annotation/AnnotationImageDisplay.tsx
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
  frontend/src/components/annotation/ObservationForm.tsx
  frontend/src/components/annotation/TaxonomicInput.tsx
  frontend/src/components/annotation/TaxonomicInput_mutualised.tsx
  frontend/src/components/annotation/TraitInput.tsx
  frontend/src/components/common/DateRangePicker.tsx
  frontend/src/components/deployments/Filters.tsx
  frontend/src/components/deployments/TaxonomicInputs.tsx
  frontend/src/components/deployments/deploymentForm.tsx
  frontend/src/components/deployments/imageList.tsx
  frontend/src/components/deviceMenu/deviceModal.tsx
  frontend/src/components/deviceMenu/devicesTable.tsx
  frontend/src/components/deviceSheet/deviceData.tsx
  frontend/src/components/deviceSheet/deviceForm.tsx
  frontend/src/components/dropzoneComponent.tsx
  frontend/src/components/importForm.tsx
  frontend/src/components/projectList.tsx
  frontend/src/components/projectModale.tsx
  frontend/src/components/projectSheet/Filters.tsx
  frontend/src/components/projectSheet/projectForm.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
  frontend/src/components/siteMenu/siteModale.tsx
  frontend/src/components/siteMenu/siteTable.tsx
  frontend/src/components/siteSheet/siteForm.tsx
  frontend/src/components/statsHome.tsx
  frontend/src/layouts/mainLayout.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: home page layout
  frontend/src/components/home.tsx
  frontend/src/components/projectList.tsx
  frontend/src/components/statsHome.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: header layout
  frontend/src/components/HeadBar.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: remove comments in header component
  frontend/src/components/HeadBar.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: site sheet layout
  frontend/src/components/siteSheet/siteSheetMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: headbar layout for site, device, project and deployment
  frontend/src/components/common/PageHeadBar.tsx
  frontend/src/components/deviceMenu/deviceMenuMain.tsx
  frontend/src/components/deviceSheet/deviceSheetMain.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
  frontend/src/components/siteMenu/siteMenuMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: project layout
  frontend/src/components/projectSheet/projectForm.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: deployment form layout
  frontend/src/components/deployments/deploymentForm.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: deployment gallery layout
  frontend/src/components/common/DateRangePicker.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: remove comment and unused import
  frontend/src/components/common/DateRangePicker.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: handle undefined position during initial deployment load
  frontend/src/components/deployments/deploymentForm.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: clean up unused variables, imports and hooks
  frontend/src/App.tsx
  frontend/src/components/Map.tsx
  frontend/src/components/ThumbnailComponent.tsx
  frontend/src/components/ThumbnailDeploymentComponent.tsx
  frontend/src/components/ThumbnailDeviceComponent.tsx
  frontend/src/components/ThumbnailProjectComponent.tsx
  frontend/src/components/ThumbnailSitesComponents.tsx
  frontend/src/components/annotation/AnnotationForm.tsx
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
  frontend/src/components/annotation/ObservationForm.tsx
  frontend/src/components/common/collapsableButton.tsx
  frontend/src/components/common/confirmDialog.tsx
  frontend/src/components/deviceMenu/devicesTable.tsx
  frontend/src/components/deviceSheet/deviceData.tsx
  frontend/src/components/drawer.tsx
  frontend/src/components/home.tsx
  frontend/src/components/importForm.tsx
  frontend/src/components/navigationPath.tsx
  frontend/src/components/projectCard.tsx
  frontend/src/components/projectList.tsx
  frontend/src/components/projectModale.tsx
  frontend/src/components/projectSheet/projectForm.tsx
  frontend/src/components/projectSheet/projectInformations.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
  frontend/src/components/siteMenu/siteModale.tsx
  frontend/src/components/siteMenu/siteTable.tsx
  frontend/src/components/siteSheet/siteSheetMain.tsx
  frontend/src/contexts/mainContext.tsx
  frontend/src/contexts/snackContext.tsx
  frontend/src/layouts/mainLayout.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: fix warnings by replacing loose equality with strict equality
  frontend/src/components/ThumbnailDeploymentComponent.tsx
  frontend/src/components/ThumbnailDeviceComponent.tsx
  frontend/src/components/ThumbnailProjectComponent.tsx
  frontend/src/components/ThumbnailSitesComponents.tsx
  frontend/src/components/annotation/TaxonomicInput.tsx
  frontend/src/components/deployments/TaxonomicInputs.tsx
  frontend/src/components/deployments/deploymentForm.tsx
  frontend/src/components/deviceMenu/devicesTable.tsx
  frontend/src/components/deviceSheet/deviceData.tsx
  frontend/src/components/goAnnotation.tsx
  frontend/src/components/navigationPath.tsx
  frontend/src/components/projectModale.tsx
  frontend/src/components/siteMenu/siteModale.tsx
  frontend/src/contexts/annotationContext.tsx
  frontend/src/contexts/mainContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

refactor: rename interface to avoid conflict with component name
  frontend/src/components/common/DateRangePicker.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: prevent runtime errrs when accessing image annotations
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: set project modale name field to full width
  frontend/src/components/projectModale.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: reset currentImage when filtering result in annotation page is null before redirect to fix display issues
  frontend/src/components/deployments/mediaGallery.tsx
  frontend/src/pages/annotation.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: remove unwanted commented file to clean repo
  frontend/src/components/annotation/TaxonomicInput_mutualised.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: add media pagination to galery page
  api/src/routers/files.py
  api/src/services/files.py
  frontend/src/client/services/FilesService.ts
  frontend/src/components/deployments/mediaGallery.tsx
  frontend/src/contexts/filesContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

fix: side effect on annotation page navigation
  frontend/src/components/annotation/AnnotationGroupModale.tsx
  frontend/src/components/annotation/AnnotationImageNavigation.tsx
  frontend/src/components/annotation/ButtonDeleteMedia.tsx
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
  frontend/src/contexts/annotationContext.tsx
  frontend/src/contexts/filesContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

black
  api/src/routers/files.py
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: add keycloak schema in KC_DB_URL
  docker/.env.sample
  docker/docker-compose.yml
Due: none

chore: delete useless variables
  docker/.env.sample
Due: none

add email var in env file
  docker/.env.sample
  docker/docker-compose.prod.yml
Due: none

black 26
  api/alembic/versions/346ede4279cd_convert_timestamp_to_timestamptz_for_.py
  api/alembic/versions/7f9fbde02f83_update_files_table.py
Due: build_api_development, build_api_production, test_api, deploy_api

black 26 (#121)
  api/alembic/versions/346ede4279cd_convert_timestamp_to_timestamptz_for_.py
  api/alembic/versions/7f9fbde02f83_update_files_table.py
Due: build_api_development, build_api_production, test_api, deploy_api

chore: upgrade python to 3.11
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
  api/alembic/versions/58e367bdda57_init.py
  api/src/services/deployment.py
  api/src/services/project.py
  api/tests/test_models/test_deployment.py
Due: build_api_development, build_api_production, test_api, deploy_api

black
  api/src/services/deployment.py
  api/src/services/project.py
Due: build_api_development, build_api_production, test_api, deploy_api

isort
  api/alembic/versions/58e367bdda57_init.py
Due: build_api_development, build_api_production, test_api, deploy_api

format
  api/alembic/versions/58e367bdda57_init.py
Due: build_api_development, build_api_production, test_api, deploy_api

chore: pyhton 3.11
  api/Dockerfile
  api/Pipfile
  api/Pipfile.lock
  api/alembic/versions/58e367bdda57_init.py
  api/src/services/deployment.py
  api/src/services/project.py
  api/tests/test_models/test_deployment.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix
  api/tests/test_models/test_deployment.py
Due: build_api_development, build_api_production, test_api, deploy_api

chore: upgrade to pydantic v2
  api/Pipfile
  api/Pipfile.lock
  api/alembic/env.py
  api/src/config.py
  api/src/connectors/database.py
  api/src/connectors/s3.py
  api/src/main.py
  api/src/models/annotation.py
  api/src/models/deployment.py
  api/src/models/device.py
  api/src/models/file.py
  api/src/models/models.py
  api/src/models/project.py
  api/src/models/site.py
  api/src/routers/deployments.py
  api/src/routers/devices.py
  api/src/routers/files.py
  api/src/routers/projects.py
  api/src/routers/sites.py
  api/src/schemas/file.py
  api/src/schemas/schemas.py
  api/src/schemas/user.py
  api/src/services/deployment.py
  api/src/services/device.py
  api/src/services/files.py
  api/src/services/project.py
  api/src/services/site.py
  api/src/services/templateSequence.py
  api/tests/fixtures/device.py
  api/tests/fixtures/keycloak.py
  api/tests/test_routers/test_deployments.py
  api/tests/test_routers/test_devices.py
  api/tests/test_routers/test_files.py
  api/tests/test_routers/test_projects.py
  api/tests/test_routers/test_sites.py
  api/tests/test_services/test_device.py
  api/tests/test_services/test_project.py
Due: build_api_development, build_api_production, test_api, deploy_api

black
  api/src/config.py
  api/src/models/deployment.py
  api/src/models/device.py
  api/src/models/file.py
  api/src/models/models.py
  api/src/models/project.py
  api/src/schemas/user.py
Due: build_api_development, build_api_production, test_api, deploy_api

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*, .gitlab-ci.yml
  build_frontend_development: any of: frontend/**/*
  build_frontend_production: any of: frontend/**/*, .gitlab-ci.yml
  build_keycloak: any of: keycloak/**/*
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
  pages: any of: docs/**/*, .gitlab-ci.yml
