Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, build_frontend_production, build_keycloak, test_api, deploy_api, deploy_frontend, pages

build_api_development:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:api-dev ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-dev
  tags:
  - NSCICDDOCKER

build_api_production:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:api-latest ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-latest
  tags:
  - NSCICDDOCKER

build_frontend_development:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:frontend-dev ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-dev
  tags:
  - NSCICDDOCKER

build_frontend_production:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:frontend-latest ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-latest
  tags:
  - NSCICDDOCKER

build_keycloak:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}/keycloak" --dockerfile "${CI_PROJECT_DIR}/keycloak/Dockerfile" --destination "${CI_REGISTRY_IMAGE}:keycloak-${CI_COMMIT_REF_NAME}"
  tags:
  - NSCICDK8S

test_api:
  stage: test
  script:
  - ./scripts/test-ci.sh
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: ./api/coverage.xml
  tags:
  - NSCICDSHELL

deploy_api:
  stage: deploy
  image:
    name: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

deploy_frontend:
  stage: deploy
  image: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

pages:
  stage: pages
  image:
    name: squidfunk/mkdocs-material:8.1.10
    entrypoint:
    - ''
  script:
  - cd docs
  - mkdocs build --site-dir ../public
  artifacts:
    paths:
    - public
  tags:
  - NSCICDDOCKER

feat: add new pannel export
  shiny/R/mod_export.R
Due: none

feat : add custom title and legends to graph
  shiny/R/mod_export.R
  shiny/R/mod_monitoring.R
  shiny/R/sample_historic.R
  shiny/server.R
Due: none

chore: add new library
  shiny/app.R
Due: none

feat : add customizable title and legend by graph independently
  shiny/R/detection_rate.R
  shiny/R/mod_export.R
  shiny/R/mod_species.R
  shiny/R/plot_EP_species.R
Due: none

feat: add custom title and legend to pannel activity
  shiny/R/activity_model_cross.R
  shiny/R/mod_activity.R
  shiny/R/mod_export.R
  shiny/server.R
Due: none

feat: translation for title and legend
  shiny/R/translate.R
Due: none

feat: dynamic titles and legends
  shiny/R/mod_community.R
  shiny/R/mod_monitoring.R
Due: none

feat: add new pannel export
  shiny/R/mod_export.R
  shiny/server.R
  shiny/ui.R
Due: none

chore: add parameters for dynamic titles
  shiny/R/barplot_compo_com.R
Due: none

feat: add shiny container and compose config
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  shiny/Dockerfile
  shiny/app.R
Due: none

feat: add poc shiny /test
  docker/docker-compose.yml
  frontend/src/App.tsx
  frontend/src/pages/test.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: make cronjob for shiny container
  docker/docker-compose.override.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  shiny/Dockerfile
  shiny/R/data.R
  shiny/R/mod_data_prep.R
  shiny/R/mod_monitoring.R
  shiny/app.R
  shiny/cron_task.R
  shiny/entrypoint.sh
  shiny/server.R
  shiny/ui.R
Due: none

Add files via upload
  nomenclapi/nomenclatures_SINP_mai2023.zip
Due: none

Add files via upload (#107)
  nomenclapi/nomenclatures_SINP_mai2023.zip
Due: none

fix: store sinp nomenclature files in github
  nomenclapi/Dockerfile
  nomenclapi/main.py
Due: none

fix: store sinp nomenclature files in github (#108)
  nomenclapi/Dockerfile
  nomenclapi/main.py
Due: none

fix: delete file from every deployments
  api/src/services/files.py
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

black
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

Fix/delete media (#109)
  api/src/services/files.py
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

fix: authentification
  frontend/src/App.tsx
  frontend/src/contexts/AuthContextProvider.tsx
  frontend/src/index.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: authentification (#110)
  frontend/src/App.tsx
  frontend/src/contexts/AuthContextProvider.tsx
  frontend/src/index.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix
  frontend/src/App.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix (#111)
  frontend/src/App.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: use lowercase for image name
  .github/workflows/build_api.yml
  .github/workflows/build_frontend.yml
  .github/workflows/test_api.yml
Due: none

fix: modifiy syntax
  .github/workflows/build_api.yml
  .github/workflows/build_frontend.yml
  .github/workflows/test_api.yml
Due: none

fix: wrote name directly in yaml files
  .github/workflows/build_api.yml
  .github/workflows/build_frontend.yml
  .github/workflows/test_api.yml
Due: none

fix: use lowercase for image name (#113)
  .github/workflows/build_api.yml
  .github/workflows/build_frontend.yml
  .github/workflows/test_api.yml
Due: none

Add czech language
  frontend/src/public/locales/cs/common.js
Due: build_frontend_development, build_frontend_production, deploy_frontend

Add Czech language
  frontend/src/public/locales/cs/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

Add Czech to selector
  frontend/src/public/locales/en/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

Add Czech llanguage to selector
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

Add Czech language support to i18n configuration
  frontend/src/i18n.ts
Due: build_frontend_development, build_frontend_production, deploy_frontend

Add Czech locale to i18next parser config
  frontend/i18next-parser.config.js
Due: build_frontend_development, build_frontend_production, deploy_frontend

Fix JSON formatting in common.json
  frontend/src/public/locales/cs/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

Fix JSON formatting in common.json
  frontend/src/public/locales/en/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

Fix formatting in French language selector
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

Add Czech language (#114)
  frontend/i18next-parser.config.js
  frontend/src/i18n.ts
  frontend/src/public/locales/cs/common.json
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

refact: use common const to manage lng available
  frontend/i18next-parser.config.js
  frontend/src/i18n.ts
Due: build_frontend_development, build_frontend_production, deploy_frontend

refact: lng list is dynamic in language selector
  frontend/src/components/languageSelector.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*, .gitlab-ci.yml
  build_frontend_development: any of: frontend/**/*
  build_frontend_production: any of: frontend/**/*, .gitlab-ci.yml
  build_keycloak: any of: keycloak/**/*
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
  pages: any of: docs/**/*, .gitlab-ci.yml
