Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, build_frontend_production, build_keycloak, test_api, deploy_api, deploy_frontend, pages

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*, .gitlab-ci.yml
  build_frontend_development: any of: frontend/**/*
  build_frontend_production: any of: frontend/**/*, .gitlab-ci.yml
  build_keycloak: any of: keycloak/**/*
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
  pages: any of: docs/**/*, .gitlab-ci.yml

isort
  api/src/models/device.py
  api/src/models/models.py
  api/src/models/project.py
Due: build_api_development, build_api_production, test_api, deploy_api

refact: use pydantic model for api response
  api/src/models/device.py
  api/src/models/site.py
  api/src/routers/deployments.py
  api/src/routers/devices.py
  api/src/routers/files.py
  api/src/routers/sites.py
  api/src/routers/templateSequences.py
Due: build_api_development, build_api_production, test_api, deploy_api

black & isort
  api/src/models/device.py
  api/src/models/site.py
  api/src/routers/sites.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix: date typing
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: date display in project form
  frontend/src/components/projectSheet/projectForm.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

black & isort
  api/src/auth/auth.py
  api/tests/fixtures/auth.py
  api/tests/utils/overrides.py
Due: build_api_development, build_api_production, test_api, deploy_api

chore: upgrade db to pg18 and add postgis
  db/Dockerfile
  docker/docker-compose.yml
Due: none

add email var in env file (#120)
  docker/.env.sample
  docker/docker-compose.prod.yml
Due: none

chore: upgarde keycloak & react & replace react-script by Vite
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/logo.svg
  frontend/public/index.html
  frontend/public/vite.svg
  frontend/src/components/HeadBar.tsx
  frontend/src/keycloak.ts
  frontend/src/main.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/setupTests.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  keycloak/Dockerfile
  keycloak/theme/customtheme/login/login.ftl
Due: build_frontend_development, build_frontend_production, build_keycloak, deploy_frontend

Chore/update docker and delete geonature annotation (#74)
  api/Dockerfile
  api/src/config.py
  docker/.env.sample
  docker/docker-compose.yml
  docs/docs/technical_guide/keycloak.md
  docs/docs/user/admin.md
  docs/docs/user/user.md
  scripts/docker.sh
Due: build_api_development, build_api_production, test_api, deploy_api, pages

chore: rename db_image in env sample
  docker/.env.sample
Due: none

Feat/keycloak in another schema & upgrade pg (#119)
  .github/workflows/build_db.yml
  .gitlab-ci.yml
  db/Dockerfile
  db/init-db.sql
  docker/.env.sample
  docker/docker-compose.override.yml
  docker/docker-compose.yml
Due: build_api_production, build_frontend_production, deploy_api, deploy_frontend, pages

fix: date display (#124)
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
  frontend/src/components/projectSheet/projectForm.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: add frontend media pagination (#118)
  api/src/routers/files.py
  api/src/services/files.py
  frontend/src/client/services/FilesService.ts
  frontend/src/components/annotation/AnnotationGroupModale.tsx
  frontend/src/components/annotation/AnnotationImageNavigation.tsx
  frontend/src/components/annotation/ButtonDeleteMedia.tsx
  frontend/src/components/annotation/MetadataDateTimeInput.tsx
  frontend/src/components/deployments/mediaGallery.tsx
  frontend/src/contexts/annotationContext.tsx
  frontend/src/contexts/filesContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

fix
  frontend/src/client/services/FilesService.ts
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: upgrade to python 3.11
  docker/docker-compose.yml
  nomenclapi/Dockerfile
  nomenclapi/Pipfile
  nomenclapi/Pipfile.lock
  nomenclapi/main.py
Due: none

Chore/upgrade keycloak, react & typescript (#125)
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/logo.svg
  frontend/public/index.html
  frontend/public/vite.svg
  frontend/src/components/HeadBar.tsx
  frontend/src/keycloak.ts
  frontend/src/main.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/setupTests.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  keycloak/Dockerfile
  keycloak/theme/customtheme/login/login.ftl
Due: build_frontend_development, build_frontend_production, build_keycloak, deploy_frontend

fix: account url in dynamic with env variables
  frontend/src/components/HeadBar.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

chore: upgrade to python 3.11 (#126)
  docker/docker-compose.yml
  nomenclapi/Dockerfile
  nomenclapi/Pipfile
  nomenclapi/Pipfile.lock
  nomenclapi/main.py
Due: none

fix: account url in dynamic with env variables (#127)
  frontend/src/components/HeadBar.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

Update README.md
  README.md
Due: none

fix: modify some docker variables
  docker/.env.sample
  docker/docker-compose.yml
Due: none

fix: modify default docker variables (#129)
  docker/.env.sample
  docker/docker-compose.yml
Due: none

chore: desactivate format on gitlab pipeline
  .gitlab-ci.yml
Due: build_api_production, build_frontend_production, deploy_api, deploy_frontend, pages

fix: gitlab ci db
  .gitlab-ci.yml
Due: build_api_production, build_frontend_production, deploy_api, deploy_frontend, pages

fix: use latest image for api and frontend images
  docker/.env.sample
Due: none

Fix (#130)
  .gitlab-ci.yml
  docker/.env.sample
Due: build_api_production, build_frontend_production, deploy_api, deploy_frontend, pages

fix: init_db script
  api/src/connectors/database.py
Due: build_api_development, build_api_production, test_api, deploy_api

Fix/db init script (#131)
  api/src/connectors/database.py
Due: build_api_development, build_api_production, test_api, deploy_api

chore: delete old cmd in front dockerfile
  frontend/Dockerfile
Due: build_frontend_development, build_frontend_production, deploy_frontend
