Repository naturalsolutions/ecoSecrets: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_api_development, build_api_production, build_frontend_development, build_frontend_production, build_keycloak, test_api, deploy_api, deploy_frontend, pages

build_api_development:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:api-dev ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-dev
  tags:
  - NSCICDDOCKER

build_api_production:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:api-latest ./api
  - docker push ${CI_REGISTRY_IMAGE}:api-latest
  tags:
  - NSCICDDOCKER

build_frontend_development:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target development -t ${CI_REGISTRY_IMAGE}:frontend-dev ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-dev
  tags:
  - NSCICDDOCKER

build_frontend_production:
  stage: build
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build --target production -t ${CI_REGISTRY_IMAGE}:frontend-latest ./frontend
  - docker push ${CI_REGISTRY_IMAGE}:frontend-latest
  tags:
  - NSCICDDOCKER

build_keycloak:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint:
    - ''
  script:
  - /kaniko/executor --context "${CI_PROJECT_DIR}/keycloak" --dockerfile "${CI_PROJECT_DIR}/keycloak/Dockerfile" --destination "${CI_REGISTRY_IMAGE}:keycloak-${CI_COMMIT_REF_NAME}"
  tags:
  - NSCICDK8S

test_api:
  stage: test
  script:
  - ./scripts/test-ci.sh
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: ./api/coverage.xml
  tags:
  - NSCICDSHELL

deploy_api:
  stage: deploy
  image:
    name: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

deploy_frontend:
  stage: deploy
  image: registry.gitlab.com/natural-solutions/ns-ansible-infrastructure:latest
  script:
  - cd /home/ansible
  - export VAULT_TOKEN="$(vault write -field=token auth/jwt/login role=gitlab-runner-annotation jwt=$CI_JOB_JWT)"
  ...

pages:
  stage: pages
  image:
    name: squidfunk/mkdocs-material:8.1.10
    entrypoint:
    - ''
  script:
  - cd docs
  - mkdocs build --site-dir ../public
  artifacts:
    paths:
    - public
  tags:
  - NSCICDDOCKER

feat: add zip import in front
  frontend/src/components/imageList.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: separated dropzones to import files and zip
  frontend/src/components/imageList.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: add new translation
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: clean console log
  frontend/src/components/imageList.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: prediction component that can be checked
  frontend/src/components/annotation/ObservationTab.tsx
  frontend/src/components/annotation/PredictionArea.tsx
  frontend/src/contexts/annotationContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: remove console log
  frontend/src/components/annotation/PredictionArea.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

feat: unchecked prediction for next image
  frontend/src/components/annotation/PredictionArea.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

ajout de la carte
  frontend/Dockerfile
  frontend/package.json
  frontend/src/client/services/ProjectsService.ts
  frontend/src/components/deviceMenu/deviceMenuMain.tsx
  frontend/src/components/deviceMenu/devicesTable.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

avancée de l'historique des deploiements
  api/src/routers/files.py
  frontend/public/env-config.js
  frontend/src/client/models/DeploymentForDeviceSheet.ts
  frontend/src/client/models/DeploymentForProjectSheet.ts
  frontend/src/client/services/FilesService.ts
  frontend/src/components/deploymentDetails.tsx
  frontend/src/components/deviceSheet/deviceSheetMain.tsx
  frontend/src/components/imageList.tsx
  frontend/src/contexts/mainContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

avancée historique de déploiement
  frontend/src/components/deviceSheet/deviceSheetMain.tsx
  frontend/src/contexts/mainContext.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

historique de deploiement finit
  frontend/src/components/deviceSheet/deviceSheetMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

ajout de la carte
  frontend/src/components/deviceMenu/deviceMenuMain.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

ajout de la miniature
  api/alembic/versions/4cf2ba8715d2_sequence_deployments_projects.py
  api/alembic/versions/58e367bdda57_init.py
  api/src/models/file.py
  api/src/routers/devices.py
  api/src/services/device.py
  api/src/services/files.py
  frontend/src/client/services/DevicesService.ts
  frontend/src/components/Thumbnail.tsx
  frontend/src/components/deviceSheet/deviceForm.tsx
  frontend/src/components/dropzoneComponent.tsx
  frontend/src/components/imageList.tsx
  frontend/src/components/navigationPath.tsx
  frontend/src/contexts/mainContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

avancee miniature
  api/src/models/file.py
  api/src/routers/devices.py
  api/src/routers/files.py
  api/src/services/device.py
  api/src/services/files.py
  frontend/src/client/models/DeviceMenu.ts
  frontend/src/client/services/FilesService.ts
  frontend/src/components/GalleryItem.tsx
  frontend/src/components/ModifyThumbnail.tsx
  frontend/src/components/deviceSheet/deviceForm.tsx
  frontend/src/components/mediaGallery.tsx
  frontend/src/contexts/mainContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

ajout des miniatures
  api/src/routers/files.py
  api/src/services/device.py
  frontend/src/client/services/FilesService.ts
  frontend/src/components/ModifyThumbnail.tsx
  frontend/src/components/Thumbnail.tsx
  frontend/src/components/deviceSheet/deviceForm.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

finition miniature projets, dispositif, commencement miniature deploiement
  api/src/routers/files.py
  api/src/services/project.py
  frontend/src/client/services/FilesService.ts
  frontend/src/components/ModifyThumbnail.tsx
  frontend/src/components/Thumbnail.tsx
  frontend/src/components/ThumbnailComponent.tsx
  frontend/src/components/ThumbnailDeploymentComponent.tsx
  frontend/src/components/ThumbnailDeviceComponent.tsx
  frontend/src/components/ThumbnailProjectComponent.tsx
  frontend/src/components/deploymentForm.tsx
  frontend/src/components/deviceSheet/deviceForm.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
  frontend/src/components/siteMenu/siteTable.tsx
  frontend/src/contexts/mainContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

miniature deploiement terminé
  api/src/routers/files.py
  api/src/services/deployment.py
  frontend/src/client/services/FilesService.ts
  frontend/src/components/ThumbnailDeploymentComponent.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

ajout des du boutons vers le profile keycloack, et pagination dans le menu et modif messages deploiements
  api/src/config.py
  api/src/connectors/s3.py
  api/src/models/site.py
  frontend/src/components/HeadBar.tsx
  frontend/src/components/projectSheet/projectSheetMain.tsx
  frontend/src/components/siteMenu/siteTable.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

ajout d'un loader à l'import des medias dans les deploiements
  frontend/src/components/imageList.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

avancee pagination
  api/.cache/black/23.7.0/cache.-.100.1.0.0.0.1.0.0.e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.pickle
  api/alembic/versions/999aa6bb1fc9_added_image_to_sites.py
  api/src/config.py
  api/src/connectors/s3.py
  api/src/models/site.py
  api/src/routers/sites.py
  frontend/src/client/services/SitesService.ts
  frontend/src/components/HeadBar.tsx
  frontend/src/components/deviceMenu/devicesTable.tsx
  frontend/src/components/imageList.tsx
  frontend/src/components/siteMenu/siteTable.tsx
  frontend/src/contexts/mainContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

finition site miniture et quelques details
  api/src/routers/files.py
  api/src/services/site.py
  frontend/src/client/models/Sites.ts
  frontend/src/client/services/FilesService.ts
  frontend/src/components/GalleryItem.tsx
  frontend/src/components/ModifyThumbnail.tsx
  frontend/src/components/Thumbnail.tsx
  frontend/src/components/ThumbnailComponent.tsx
  frontend/src/components/ThumbnailSitesComponents.tsx
  frontend/src/components/deviceMenu/devicesTable.tsx
  frontend/src/components/mediaGallery.tsx
  frontend/src/components/projectCard.tsx
  frontend/src/components/projectList.tsx
  frontend/src/components/siteMenu/siteTable.tsx
  frontend/src/components/siteSheet/siteForm.tsx
  frontend/src/contexts/mainContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

ajout de la suppression d'un media de deploiement
  api/src/routers/files.py
  api/src/routers/projects.py
  api/src/services/files.py
  api/src/services/project.py
  frontend/src/client/services/FilesService.ts
  frontend/src/client/services/ProjectsService.ts
  frontend/src/components/ModifyThumbnail.tsx
  frontend/src/components/ThumbnailComponent.tsx
  frontend/src/components/ThumbnailDeploymentComponent.tsx
  frontend/src/components/ThumbnailDeviceComponent.tsx
  frontend/src/components/ThumbnailProjectComponent.tsx
  frontend/src/components/ThumbnailSitesComponents.tsx
  frontend/src/components/annotation/AnnotationButtons.tsx
  frontend/src/components/projectList.tsx
  frontend/src/contexts/mainContext.tsx
  frontend/src/public/locales/en/common.json
  frontend/src/public/locales/fr/common.json
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

add delete deployment
  api/src/services/deployment.py
  api/src/services/files.py
Due: build_api_development, build_api_production, test_api, deploy_api

fix de la map qui s'affiche pas
  frontend/src/components/Map.tsx
  frontend/src/components/deviceMenu/devicesTable.tsx
  frontend/src/components/siteMenu/siteTable.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

un peu de refacto
  api/src/services/files.py
  frontend/src/client/services/FilesService.ts
  frontend/src/components/ThumbnailDeploymentComponent.tsx
  frontend/src/components/ThumbnailDeviceComponent.tsx
  frontend/src/components/ThumbnailProjectComponent.tsx
  frontend/src/components/ThumbnailSitesComponents.tsx
  frontend/src/components/deviceMenu/devicesTable.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

quelques fix
  frontend/src/components/annotation/AnnotationButtons.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

un peu de refacto
  api/src/services/deployment.py
  frontend/src/components/ThumbnailDeploymentComponent.tsx
  frontend/src/components/ThumbnailDeviceComponent.tsx
  frontend/src/components/ThumbnailProjectComponent.tsx
  frontend/src/components/ThumbnailSitesComponents.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

trie tableau des deploiements finis
  frontend/src/components/projectSheet/projectDeployments.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

message du drop component personnalisé selon le type de miniature
  frontend/src/components/ThumbnailComponent.tsx
  frontend/src/components/ThumbnailDeploymentComponent.tsx
  frontend/src/components/ThumbnailDeviceComponent.tsx
  frontend/src/components/ThumbnailProjectComponent.tsx
  frontend/src/components/ThumbnailSitesComponents.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix: ajout page temporaire 404 si le projet n'existe pas ou si le deploy n'existe pas dans le projet
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/deploymentDetails.tsx
  frontend/src/components/deploymentForm.tsx
  frontend/src/components/projectSheet/projectDeployments.tsx
  frontend/src/layouts/mainLayout.tsx
  frontend/src/pages/deploymentSheet.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix erreur 404
  frontend/src/pages/deploymentSheet.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

docs: add deepfaune in installation process
  README.md
  deepfaune/.gitignore
Due: none

delete cache files
  deepfaune/.cache/fontconfig/298c87bf-1abf-4109-a9cb-aec13bb3a74d-le64.cache-7
  deepfaune/.cache/fontconfig/3076c25a-ea90-4e6e-aaf4-46ca6cce1931-le64.cache-7
  deepfaune/.cache/fontconfig/927a5222-0bdf-4d46-9b78-7520147bcc4a-le64.cache-7
  deepfaune/.cache/fontconfig/CACHEDIR.TAG
  deepfaune/.cache/fontconfig/b288f56e-b166-45ba-9447-3c90520b5d77-le64.cache-7
  deepfaune/.cache/matplotlib/fontlist-v330.json
  deepfaune/.cache/pip/http/a/1/9/5/3/a19537d3cf37c122db841d6fe4cd322bc10d1a558bb00d146b85cb9a
  deepfaune/.cache/pip/selfcheck/6c99979b16e41c67d490728b48e049926803b8466812bd2c9b4b246a
  deepfaune/.config/Ultralytics/settings.yaml
Due: none

fix minio
  api/src/connectors/s3.py
Due: build_api_development, build_api_production, test_api, deploy_api

miniatures fixed
  api/src/connectors/s3.py
  api/src/routers/deployments.py
  api/src/routers/devices.py
  api/src/routers/files.py
  api/src/routers/projects.py
  api/src/routers/sites.py
  api/src/services/files.py
  frontend/src/client/services/DeploymentsService.ts
  frontend/src/client/services/DevicesService.ts
  frontend/src/client/services/FilesService.ts
  frontend/src/client/services/ProjectsService.ts
  frontend/src/client/services/SitesService.ts
  frontend/src/components/ThumbnailComponent.tsx
  frontend/src/components/ThumbnailDeploymentComponent.tsx
  frontend/src/components/ThumbnailDeviceComponent.tsx
  frontend/src/components/ThumbnailProjectComponent.tsx
  frontend/src/components/ThumbnailSitesComponents.tsx
  frontend/src/components/deploymentDetails.tsx
  frontend/src/components/mediaGallery.tsx
  frontend/src/components/projectCard.tsx
  frontend/src/contexts/mainContext.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

fix site position
  api/src/routers/files.py
  frontend/src/components/annotation/AnnotationButtons.tsx
  frontend/src/components/siteSheet/siteForm.tsx
Due: build_api_development, build_api_production, build_frontend_development, build_frontend_production, test_api, deploy_api, deploy_frontend

handle if thumbnail is not returning 200, and fix dropzone display text
  frontend/src/components/ThumbnailComponent.tsx
  frontend/src/components/ThumbnailDeploymentComponent.tsx
  frontend/src/components/ThumbnailDeviceComponent.tsx
  frontend/src/components/ThumbnailProjectComponent.tsx
  frontend/src/components/ThumbnailSitesComponents.tsx
  frontend/src/components/dropzoneComponent.tsx
  frontend/src/components/projectCard.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

fix
  frontend/src/components/annotation/AnnotationButtons.tsx
Due: build_frontend_development, build_frontend_production, deploy_frontend

Path conditions:
  build_api_development: any of: api/**/*
  build_api_production: any of: api/**/*, .gitlab-ci.yml
  build_frontend_development: any of: frontend/**/*
  build_frontend_production: any of: frontend/**/*, .gitlab-ci.yml
  build_keycloak: any of: keycloak/**/*
  test_api: any of: api/**/*
  deploy_api: any of: api/**/*, .gitlab-ci.yml
  deploy_frontend: any of: frontend/**/*, .gitlab-ci.yml
  pages: any of: docs/**/*, .gitlab-ci.yml
